<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>react</title>
</head>
<body>
    <div id="tt"></div>
    <script src="../assets/tt.js"></script>
    templates 처음화면
    <br>
    <a href="/home">home 화면으로 가기</a>
</body>

</html>

<!-- entry: './app/index.js',
  output: {
    path: PATHS.build,
    filename: 'app-bundle.js',
    publicPath: "/assets/"
  }, -->