<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{layout::layout(~{::content},_)}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    <content>
      <th:block sec:authorize="isAuthenticated()"><!-- 로그인 되어 있는가 -->
        <span sec:authentication="principal.username"></span>님 반가워요!
        <form action="/logout" method="post">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
          <input type="submit" value="Logout">
        </form>
      </th:block>

      <div id="tt"></div>
      <script src="../assets/tt.js"></script>
      templates 처음화면
      <br>
      <a href="/home">home 화면으로 가기</a>
      <br>
      <a href="/vote">투표 바로가기</a>
    </content>
</body>

</html>
