<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-secutiry"
th:fragment="layout(content,js,title)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ani.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/layout.css">
    <script type="text/javascript" th:replace="${js}"></script>
        <!-- <link rel="stylesheet" href="/css/notUseSide.css"> -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
 	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
 	<script  src="/js/script.js"></script>
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
     <!-- <link rel="stylesheet" href="/css/style.css"> -->
 	
    <title>RIRO</title>

</head>

<body>
    <top>
        <div class="top_div">
            <th:block sec:authorize="isAuthenticated()"><!-- 로그인 되어 있는가 -->
                <div class="img_div">
                    <img  th:if="${#authentication.principal.img}" th:src="${#authentication.principal.img}" width="25" height="25">
                    <img th:unless="${#authentication.principal.img}" src="/img/defaultProfile.png" width="25" height="25">
                </div>
                <span sec:authentication="principal.name"></span><span> 님</span> 
                <a></a>
                <form class="top_form"action="/logout" method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <a href="/userInfo">내 정보 및 관리 </a>&nbsp;
                    <input type="submit" value="로그아웃">                    
                </form>
            </th:block>

            <th:block sec:authorize="! isAuthenticated()">
                <a href="/auth">
                    <div>로그인</div>
                </a>
                <a href="/auth/register">
                    <div>회원가입</div>
                </a>
                <a href="#">
                    <div>고객센터</div>
                </a>
            </th:block>
        </div>
    </top>
    <header>
        <div class="contents">
            <nav>
                <div class="title">
                    <a href="/">RIRO</a>
                </div>
                <div class="menu">
                    <a href="/">
                        <div>홈</div>
                    </a>
                    <div class="dropMenu">
                        <a href="#">
                            <div>소개</div>
                        </a>
                        <div class="drop">
                            <a href="#">블록체인이란?</a>
                            <a href="#">서비스소개</a>
                            <a href="#">개발자소개</a>
                        </div>
                    </div>
                    <div class="dropMenu">
                        <a href="#">
                            <div>오디션</div>
                        </a>

                        <div class="drop">
                            <a href="#">참가신청</a>
                            <a href="#">예선결과안내</a>
                        </div>

                    </div>

                    <a href="/vote">
                        <div>투표</div>
                    </a>

                    <div class="dropMenu">
                        <a href="#">
                            <div href="#">커뮤니티</div>
                        </a>
                        <div class="drop">
                            <a href="#">팬클럽</a>
                            <a href="#">인기투표</a>
                            <a href="#">주간Hot Clip</a>
                            <a href="#">방청권응모</a>
                        </div>
                    </div>
                    <a href="#">
                        <div>굿즈샵</div>
                    </a>
                </div>
            </nav>

            <main>
                <div class="center_title_conetnt">
                    <h3 class="display-2 mb-4" th:text="${title}"></h3>
                </div>
            </main>
        </div>

    </header>
    
	<div id="wrapper" class="menuDisplayed">
    <!-- Sidebar  <div th:text="${side}"></div>-->
    
    <div id="sidebar-wrapper">
      <ul id="side" class="sidebar-nav">

      </ul>
    </div>
    <!-- partial:index.partial.html -->

  
    <contents>
    
    <div class="contents" id="sideon2"> <!-- Page Content -->
    
    <div id="page-content-wrapper">
    
      <div class="container-fluid">
        <div class="row">
        <a href="#" class="btn2" id="menu-toggle"><span class="sideon"></span></a>
          <div class="col-lg-12">
            
           <div th:replace="${content}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
          	  
       		 </div>
    </contents>
      <!-- Page Content -->
    
    <footer>
        <div class="option">
            <a href="#">
                <div>개인정보 취급정책</div>
            </a>
            <a href="#">
                <div>이용약관</div>
            </a>
            <a href="#">
                <div>관리자</div>
            </a>
        </div>

        <div class="min-address">
            <div>2020 RIRO.com</div>
        </div>
    </footer>
</body>
</html>