<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'실시간 투표')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <content>
        <form method="post" enctype="multipart/form-data" action="/vote">
            <div id="voteCreate"></div>
            <script src="/assets/voteCreate.js"></script>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </content>
</body>
</html>