<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main_layout::layout(~{::content},_,'실시간 투표')}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <content>
        <div id="voteIndex"></div>
        <script src="/assets/voteIndex.js"></script>
        <!-- <a href="/vote/create">새로운 투표 만들기</a> -->
        <!-- 게시글
        <ul>  
            <li th:each="vote: ${votes}"><a href="/" th:href="@{/vote/{voteId}(voteId=${vote.getId()})}"><p th:text="${vote.getTitle()}"></p></a></li> 
        </ul> -->
    </content>
</body>
</html>