.body {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
}
header{
    position: relative;
    width: 100%;
    top: auto;
    min-width: 900px;
    height: 120px;
    grid-area: header;
}
.rel{
    position: relative;
    grid-area: header;
}
.top {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 80px;
    align-content: center;
    background-color: rgba( 19, 18, 18, 0.69 );
}
.flax {
    /* display: inline-block; */
    display: flex;
    width: auto;
    max-width: 40%;  /* min 은 header 의 min 을 수정 한 후에.*/
    margin: 25px auto;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.flax > div{
    display: inline;
    padding: 0px 10px;    
    min-width: 13.5%;
    color:white;
    border-left: 1px solid white;
}
.flax > div:last-child{
    border-right: 1px solid white;
}


content{
    /* background-color: blueviolet; */
    position: relative;
    
    /* grid-column: 2 / 4; */
    grid-area: content;
}

footer{
    position: absolute;
    background-color: blue;
    bottom: 0px;
    grid-area: footer;
}