content{
    margin: 30px 0px;
    min-height: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.auth_left{
    display: inline;
    grid-column: 1;
    text-align: center;
    border-right: 1px solid black;
    margin-top: 20px;
}
.auth_right{
    display: inline;
    grid-column: 2;
    text-align: center;
    margin-top:20px;
}
.item_left{
    margin-top: 20px;
}
.item_right{
    margin-top: 20px;
}
.item_right_text{
    /* color: #3498DB; */
    font-size: 18px;
    font-weight: 700;
}