body{
    margin: auto;
    max-width: 1200px;
    min-width: 800px;
}
.title{
    font-weight: 1000;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 46px;
}
.title a{
    color:black;
    text-decoration: none;
}
.subTitle{
    text-align: center;
    font-weight: 1000;
    font-size: 35px;
}
nav{
    margin-bottom: 20px;
}
main{
    background-color:antiquewhite;
    height: 600px;
}