.vote_option_div{

}
.vote_option_div div{
    display: inline;
}

.vote_option_div div:nth-child(n+2):not(:last-child){
    border-right: 3px solid black;
}
.vote_option_div div{
    padding: 0px 10px;
}
.vote_option_div a{
    text-decoration: none;
    color: black;
}

.vote_option_div a:hover{
    color:purple;
}


/* voteIdexItem 에서 부르는 ItemCard2vertical 의 크기 */
.vote_index_item{
    display: inline-block;
    width:300px;
    height: 200px;
    margin: 0px 14px;
}

.vote_index_item a{
    text-decoration: none;
    color: black;
}
.voteState:hover{
    color:rgba(221, 44, 192, 1);
}
.type:hover{
    color:rgba(221, 44, 192, 1);
}
.program:hover{
    color:rgba(221, 44, 192, 1);
}

.MuiPagination-root{
    align-self: center;
    align-content: center;
}

.vote_options_select_div{
    display: grid;
    margin-left: 100px;
    grid-template-columns: 70% 30%;
}



.search_vote{

}
.voteItem{
    width: 100%;
    margin: auto;
    text-align: center;
}
.pagingCenter{
    margin-top: 20px;
}
.pagingCenter nav{ 
    align-content: center;
    text-align: center;
    justify-content: center;
}



/*  반응형  */

@media(max-width:700px){
    .vote_options_select_div{
        margin-left: 0px;
        grid-template-columns: none;
    }
    .search_vote{
        margin-top: 15px;
    }
}